@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }

*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
    
}
html{
    height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
#home-logo {
    justify-content: center;
    margin-left: 30px;
    width : 60px;
    height : 60px;
}

#title{
    height: 60px;
    width :300px;
    font-size: 12px;
    top:45px;
}
header {
    width : 100%;
    display : flex;
}

header div{
    display: flex;
    width : 1300px;
    justify-content: flex-end;
    height: 25px;
    font-size: 15px;
}
#sign{
    font-weight: lighter;
    font-size: 15px;
    font-weight: bolder;
    color : black;
    background-color: #f1f1f1;
    border: 0.05px solid black;
    border-radius: 10%;
    margin :0 10px;
}
.logsign{
    font-weight: lighter;
    font-size: 15px;
    font-weight: bolder;
    color : black;
    background-color: #f1f1f1;
    border: 0.05px solid black;
    border-radius: 10%;
}
main{
    margin:0 auto;
    display : flex;
    width: 1200px;
    height : 1200px;
    flex-direction: column;
}

#input-box{
    width : 1140px;
    position : relative;
    height : 450px;
    float :left;
    margin-left: 10px;
    display : flex;
    justify-content: space-around;
}
#search-input{
    border: 2px solid #f1f1f1;
    position:absolute;
    bottom : 20px;
    opacity: 0.9;
    color:black

}
input{
    border: 1px solid black;
    width: 800px;
    display: block;
    height: 50px;
}
#search-input:focus {outline:none;}
#search-input::placeholder {
    text-align: center; 
    font-size: 15px;
}


footer{
    width : 1200px;
    height : 200px;
    display : flex;
    flex-direction: row;
    background-color: #f1f1f1;
    margin:0 auto;
    margin-top: 50px;
}
footer div{
    
    width : 300px;
    
}

#college-sites {
    margin-top: 20px;
    height: 30px;
    opacity: 0.8;
}

/******************************/


#form{
    margin : auto auto;
}
legend{
    font-size: 30px;
    font-family: 'NanumBarunGothic';
    text-align: center;
}





